#sidebar .sidebar-profile .sidebar-profile-name
{
    color: #ffffff;
}
#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link
{
    color: #ffffff;
}
@media only screen and (min-width: 1280px)
{
  #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-bio,
  #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-job,
  #sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-location 
  {
    color: #ffffff;
  }
}


*, p, h1, h2, h3, h4, h5, h6 {
   font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;

}
