<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with ($.Scratch.Get "authorPicture") }}
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}" aria-label="{{ i18n "global.read_more_about_author"}}">
          <img class="sidebar-profile-picture"/> 
        </a>
	<img class="sidebar-profile-name"/>
 
<!--
       <h4 class="sidebar-profile-name">{{ $.Site.Author.title }}</h4> -->
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $ "currentPage" . ) }}
    </ul>


<hr style="margin-bottom:1em; margin-left: 25px; height: 1px;
  margin-right: 25px;background-color: rgb(160, 160, 160);">

    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $ "currentPage" . ) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
  </div>
</nav>
